page-contact {

	.news-card{
		 i {
		 	font-size: .8em;
		 }
		 .card-header {
		 	font-weight : bold;
		 }
	}

	.msg-add{
		text-align:center;
		padding: 2em 0;
		color: #666;
		text-size: .4em;
	}
}
